<h2> Showing Article <%= @article.id.to_s %> </h2>

<p>Title: <strong><%= @article.title %></strong></p>
<p>Description: <strong><%= @article.description %></strong></p>

<p>
  <%= link_to 'Edit', edit_article_path(@article) %>
  | <%= 
    link_to 'Delete', 
    article_path(@article),
    method: :delete,
    data: { confirm: 'Are you sure?' }
  %>
  | <%= link_to 'Back to Articles', articles_path %>
</p>
